.home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 95vw;
    background-color: #0b0f19e6;
    border: 2px dotted white;
    border-radius: 4%;
}